<div class="container mx-auto p-4">
  <div class="mb-6 flex items-center">
    <button (click)="goBack()"
      class="mr-4 text-gray-500 hover:text-gray-700 dark:text-zinc-300 dark:hover:text-zinc-50">
      <i-lucide [img]="ArrowLeft" class="size-6"></i-lucide>
    </button>
    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white">Truck Details</h1>
  </div>

  <!-- Loading State -->
  @if (loading()) {
  <div class="flex justify-center my-8">
    <app-loading-spinner></app-loading-spinner>
  </div>
  }

  <!-- Error State -->
  @if (error()) {
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
    <p>{{ error() }}</p>
    <button (click)="loadDetails()" class="mt-2 bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded text-sm">
      Retry
    </button>
  </div>
  }

  <!-- User Profile -->
  @if (!loading() && !error() && truckDetail()) {

  <!-- Step 1 -->
  <div class="accoWrap step_1 bg-white dark:bg-zinc-900 rounded-lg  border-b border-zinc-200 dark:border-zinc-700">
    <button (click)="stepOpen(1)"
      class="flex justify-between items-center gap-5 p-4 bg-white dark:bg-zinc-900 w-full rounded-lg text-black dark:text-white font-bold">
      <span>Step 1 :- Truck Details</span>
      <div class="arrowicon transition-all duration-300" [class]="step1 ? 'rotate-180':'rotae-0'">
        <i-lucide [img]="ChevronDown" class="size-5"></i-lucide>
      </div>
    </button>
    <div class="transition-all duration-300" [class]="step1  ? 'my-3 grid grid-rows-[1fr]':'grid grid-rows-[0fr]'">
      <div class="overflow-hidden">
        <ul class="gap-3 flex justify-start items-center flex-wrap px-5">
          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Truck Name:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepOne.truckName }}</p>
          </li>
          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Truck Owner Name:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepOne.truckOwnerName }}</p>
          </li>

          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Phone Number:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepOne.phoneNumber }}</p>
          </li>

          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Address:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepOne.address }}</p>
          </li>

          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Truck Status:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ getStatus(truckDetail()!.data.step) }}</p>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Step 2 -->
  <div
    class="accoWrap step_2 bg-white dark:bg-zinc-900 rounded-lg  border-b border-zinc-200 dark:border-zinc-700 mt-10">
    <button (click)="stepOpen(2)"
      class="flex justify-between items-center gap-5 p-4 bg-white dark:bg-zinc-900 w-full rounded-lg text-black dark:text-white font-bold">
      <span>Step 2 :- Cuisine Type</span>
      <div class="arrowicon transition-all duration-300" [class]="step2 ? 'rotate-180':'rotae-0'">
        <i-lucide [img]="ChevronDown" class="size-5"></i-lucide>
      </div>
    </button>
    <div class="transition-all duration-300" [class]="step2  ? 'my-3 grid grid-rows-[1fr]':'grid grid-rows-[0fr]'">
      <div class="overflow-hidden">
        <ul class="gap-3 flex justify-start items-center flex-wrap px-5">
          @for(item of truckDetail()!.data.stepTwo.cuisines; track item){
          <li
            class="flex-[1_1_12.5rem] max-w-fit py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">{{item}}</p>
          </li> }
        </ul>
      </div>
    </div>

  </div>

  <!-- Step-3 -->
  <div
    class="accoWrap step_3 bg-white dark:bg-zinc-900 rounded-lg  border-b border-zinc-200 dark:border-zinc-700 mt-10">
    <button (click)="stepOpen(3)"
      class="flex justify-between items-center gap-5 p-4 bg-white dark:bg-zinc-900 w-full rounded-lg text-black dark:text-white font-bold">
      <span>Step 3 :- Business Details & Description</span>
      <div class="arrowicon transition-all duration-300" [class]="step3 ? 'rotate-180':'rotae-0'">
        <i-lucide [img]="ChevronDown" class="size-5"></i-lucide>
      </div>
    </button>
    <div class="transition-all duration-300" [class]="step3  ? 'my-3 grid grid-rows-[1fr]':'grid grid-rows-[0fr]'">
      <div class="overflow-hidden">
        <ul class="gap-3 flex justify-start items-center flex-wrap px-5">
          <li
            class="flex-[1_1_12.5rem] min-w-full py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Business Description:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.businessDescription }}</p>
          </li>
          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Bussiness Start Year:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.bussinessStartYear }}</p>
          </li>

          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">EIN:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.ein }}</p>
          </li>

          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex gap-3 items-stretch justify-between border border-zinc-100 dark:border-zinc-800">
            <div>
              <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Breakfast:</p>
              <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.isBreakfast }}</p>
            </div>
            <div>
              <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Lunch:</p>
              <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.isLunch }}</p>
            </div>
            <div>
              <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Dinner:</p>
              <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.isDinner }}</p>
            </div>
          </li>

          <li
            class="flex-[1_1_12.5rem] py-2 px-4 rounded-md bg-white dark:bg-zinc-800 flex flex-col gap-3 items-stretch justify-center border border-zinc-100 dark:border-zinc-800">
            <p class="text-sm font-bold text-gray-800 dark:text-zinc-100">Minimum Guarantee Amount:</p>
            <p class="text-zinc-700 dark:text-zinc-300">{{ truckDetail()!.data.stepThree.minimumGuaranteeAmount }}
            </p>
          </li>
        </ul>

        <div class="flex flex-wrap justify-start items-stretch gap-5 mt-4 px-5">
          <div
            class="flex-[1_1_18.75rem] border border-zinc-200 dark:border-zinc-700 rounded-lg overflow-hidden max-w-[18.75rem]">
            @if(checkDocType(truckDetail()!.data.stepThree.coi) == "pdf"){
              <button (click)="openPdf(truckDetail()!.data.stepThree.coi)">View PDF</button>
            } @else {
              <img [src]="imageService.getImageUrl(truckDetail()!.data.stepThree.coi)" [alt]="imageService.getImageUrl(truckDetail()!.data.stepThree.coi)" class="h-full w-full object-contain aspect-square rounded-lg" />
            }

          </div>
          <div
            class="flex-[1_1_18.75rem] border border-zinc-200 dark:border-zinc-700 rounded-lg overflow-hidden max-w-[18.75rem]">
            @if(checkDocType(truckDetail()!.data.stepThree.w9) == "pdf"){
              <button (click)="openPdf(truckDetail()!.data.stepThree.w9)">View PDF</button>
            } @else {
              <img [src]="imageService.getImageUrl(truckDetail()!.data.stepThree.w9)" [alt]="imageService.getImageUrl(truckDetail()!.data.stepThree.w9)" class="h-full w-full object-contain aspect-square rounded-lg" />
            }

          </div>
          <div
            class="flex-[1_1_18.75rem] border border-zinc-200 dark:border-zinc-700 rounded-lg overflow-hidden max-w-[18.75rem]">
            @if(checkDocType(truckDetail()!.data.stepThree.serveSafeCertificate) == "pdf"){
              <button (click)="openPdf(truckDetail()!.data.stepThree.serveSafeCertificate)">View PDF</button>
            } @else {
              <img [src]="imageService.getImageUrl(truckDetail()!.data.stepThree.serveSafeCertificate)" [alt]="imageService.getImageUrl(truckDetail()!.data.stepThree.serveSafeCertificate)" class="h-full w-full object-contain aspect-square rounded-lg" />
            }

          </div>
          <div
            class="flex-[1_1_18.75rem] border border-zinc-200 dark:border-zinc-700 rounded-lg overflow-hidden max-w-[18.75rem]">
            @if(checkDocType(truckDetail()!.data.stepThree.dchCertificate) == "pdf"){
              <button (click)="openPdf(truckDetail()!.data.stepThree.dchCertificate)">View PDF</button>
            } @else {
              <img [src]="imageService.getImageUrl(truckDetail()!.data.stepThree.dchCertificate)" [alt]="imageService.getImageUrl(truckDetail()!.data.stepThree.dchCertificate)" class="h-full w-full object-contain aspect-square rounded-lg" />
            }

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Step-4 -->
  <div
    class="accoWrap step_4 bg-white dark:bg-zinc-900 rounded-lg  border-b border-zinc-200 dark:border-zinc-700 mt-10">
    <button (click)="stepOpen(4)"
      class="flex justify-between items-center gap-5 p-4 bg-white dark:bg-zinc-900 w-full rounded-lg text-black dark:text-white font-bold">
      <span>Step 4 :- Truck Photos</span>
      <div class="arrowicon transition-all duration-300" [class]="step4 ? 'rotate-180':'rotae-0'">
        <i-lucide [img]="ChevronDown" class="size-5"></i-lucide>
      </div>
    </button>
    <div class="transition-all duration-300" [class]="step4  ? 'my-3 grid grid-rows-[1fr]':'grid grid-rows-[0fr]'">
      <div class="overflow-hidden">
        <div class="flex flex-wrap justify-start items-stretch gap-5 mt-4 px-5">
          @for(item of truckDetail()!.data.stepFour.files; track item){
          <div
            class="flex-[1_1_18.75rem] border border-zinc-200 dark:border-zinc-700 rounded-lg overflow-hidden max-w-[18.75rem]">
            <img [src]="imageService.getImageUrl(item)" [alt]="item"
              class="h-full w-full object-cover aspect-square rounded-lg" />
          </div>
          }
        </div>
      </div>
    </div>

  </div>


  <!-- Step-5 -->
  <div
    class="accoWrap step_5 bg-white dark:bg-zinc-900 rounded-lg  border-b border-zinc-200 dark:border-zinc-700 mt-10">
    <button (click)="stepOpen(5)"
      class="flex justify-between items-center gap-5 p-5 bg-white dark:bg-zinc-900 w-full rounded-lg text-black dark:text-white font-bold">
      <span>Step 5 :- Truck Menus</span>
      <div class="arrowicon transition-all duration-300" [class]="step5 ? 'rotate-180':'rotae-0'">
        <i-lucide [img]="ChevronDown" class="size-5"></i-lucide>
      </div>
    </button>
    <div class="transition-all duration-300" [class]="step5  ? 'my-3 grid grid-rows-[1fr]':'grid grid-rows-[0fr]'">
      <div class="overflow-hidden">
        <div class="flex flex-wrap justify-start items-stretch gap-5 mt-4 px-5">
          @for(item of truckDetail()!.data.stepFive.files; track item){
          <div
            class="flex-[1_1_18.75rem] border border-zinc-200 dark:border-zinc-700 rounded-lg overflow-hidden max-w-[18.75rem]">
            <img [src]="imageService.getImageUrl(item)" [alt]="item"
              class="h-full w-full object-cover aspect-square rounded-lg" />
          </div>
          }
        </div>
      </div>
    </div>

  </div>
  }
</div>

<app-pdf-viewer [dataUrl]="pdfData" [isVisible]="(pdfViewerService.isModalVisible$ | async)" (closeModal)="pdfViewerService.hideModal()">
</app-pdf-viewer>
