<footer
  class="bg-transparent border-t-[1px] border-solid border-river-100 mt-10"
>
  <div class="footer-container">
    <div class="footer-top py-20 max-md:py-14">
      <div class="container">
        <div class="w-full flex flex-wrap gap-y-7">
          <div
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="100"
            class="min-lg:w-[25%] px-3 w-full"
          >
            <div class="flex flex-col">
              <a routerLink="/" class="flex gap-3 items-center justify-start">
                <img
                  src="logo.png"
                  class="max-w-[60px] max-md:max-w-[50px]"
                  alt="footer logo"
                />
                <span class=" font-bold text-[2rem] text-river-400"
                  >VED<span class="text-tree-400">AA</span>N</span
                >
              </a>
              <p
                class="max-w-[400px] p-0 my-7 text-sm leading-[110%] font-normal text-river-400 inline-blocks"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore ex, provident dolor velit error repudiandae!
              </p>
              <div
                class="flex gap-3 flex-row max-xl:flex-col max-lg:flex-row max-[340px]:flex-col"
              >
                <a
                  routerLink="/"
                  class="social-icon bg-river-500 px-2 py-1 rounded flex justify-center items-center"
                >
                  <i-tabler
                    class="text-tree-400"
                    name="brand-google-play"
                    style="height: 40px; width: 40px; stroke-width: 1"
                  >
                  </i-tabler>

                  <div class="text-start flex flex-col pe-3">
                    <span class="text-xs text-river-200">GET IT ON</span>
                    <span class="text-sm text-river-100 font-bold"
                      >Google Play</span
                    >
                  </div>
                </a>

                <a
                  routerLink="/"
                  class="social-icon bg-river-500 px-2 py-1 rounded flex justify-center items-center"
                >
                  <i-tabler
                    class="text-tree-400"
                    name="brand-apple"
                    style="height: 40px; width: 40px; stroke-width: 1"
                  >
                  </i-tabler>

                  <div class="text-start flex flex-col pe-3">
                    <span class="text-xs text-river-200">DOWNLOAD ON</span>
                    <span class="text-sm text-river-100 font-bold"
                      >App Store</span
                    >
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div
            class="min-lg:w-[16.66%] px-3 w-full"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          >
            <div>
              <h4
                class="text-[1.125rem] font-medium mb-5 text-river-700 dark:text-river-100 leading-[1.2] tracking-0 relative block w-full pb-2  capitalize border-b-[1px] border-solid border-river-100 dark:border-river- 600 max-lg:text-sm"
              >
                Category
                <div>
                  <i class="fi-rr-angle-small-down"></i>
                </div>
              </h4>
              <div class=" ">
                <ul class="align-itegi-center">
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/egister.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >Sign In</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/art.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >View Cart</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/rivacy-policy.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >Return Policy</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >Become a Vendor</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >Affiliate Program</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center"
                  >
                    <a
                      routerLink="/heckout.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >Payments</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="min-lg:w-[16.66%] px-3 w-full"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <div>
              <h4
                class="text-[1.125rem] font-medium mb-5 text-river-700 dark:text-river-100 leading-[1.2] tracking-0 relative block w-full pb-2  capitalize border-b-[1px] border-solid border-river-100 dark:border-river- 600 max-lg:text-sm"
              >
                Category
                <div>
                  <i class="fi-rr-angle-small-down"></i>
                </div>
              </h4>
              <div class=" ">
                <ul class="align-itegi-center">
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/egister.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >Sign In</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/art.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                      >View Cart</a
                    >
                  </li>
                  <li
                    class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/rivacy-policy.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Return Policy</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Become a Vendor</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Affiliate Program</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center"
                  >
                    <a
                      routerLink="/heckout.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Payments</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="min-lg:w-[16.66%] px-3 w-full"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <div>
              <h4
                class="text-[1.125rem] font-medium mb-5 text-river-700 dark:text-river-100 leading-[1.2] tracking-[0] relative block w-full pb-2  capitalize border-b-[1px] border-solid border-river-100 dark:border-river- 600 max-lg:text-sm"
              >
                Category
                <div>
                  <i class="fi-rr-angle-small-down"></i>
                </div>
              </h4>
              <div class=" ">
                <ul class="align-itegi-center">
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/egister.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Sign In</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/art.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >View Cart</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/rivacy-policy.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Return Policy</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Become a Vendor</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                  >
                    <a
                      routerLink="/"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Affiliate Program</a
                    >
                  </li>
                  <li
                    class="m-[0] leading-[1.5] border-[0] p-0 font-normal text-[1rem] text-tree-400 flex items-center"
                  >
                    <a
                      routerLink="/heckout.html"
                      class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-tree-400 hover:opacity-100"
                      >Payments</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="min-lg:w-[25%] px-3 w-full mb-5 wow fadeInUp"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="500"
          >
            <div class="max-lg:mb-0">
              <div>
                <h4
                  class="text-[1.125rem] font-medium mb-5 text-river-700 dark:text-river-100 leading-[1.2] tracking-[0] relative block w-full pb-2  capitalize border-b-[1px] border-solid border-river-100 dark:border-river- 600 max-lg:text-sm"
                >
                  Contact
                </h4>
                <div>
                  <ul class="align-itegi-center">
                    <li
                      class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                    >
                      <span class="w-[25px] flex basis-auto grow-0 shrink-0">
                        <i-lucide
                          strokeWidth="1"
                          [img]="MapPin"
                          class="text-tree-400 h-6 w-6"
                        ></i-lucide>
                      </span>
                      <p class="m-0 text-sm font-normal text-river-400">
                        2548 Broaddus Maple Court, Madisonville KY 4783, USA.
                      </p>
                    </li>
                    <li
                      class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                    >
                      <span class="w-[25px] flex basis-auto grow-0 shrink-0">
                        <i-lucide
                          strokeWidth="1"
                          [img]="MapPin"
                          class="text-tree-400 h-6 w-6"
                        ></i-lucide>
                      </span>
                      <a
                        routerLink="/el:+009876543210"
                        class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                        >+00 9876543210</a
                      >
                    </li>
                    <li
                      class="m-0 leading-[1.5] border-0 p-0 font-normal text-[1rem] text-tree-400 flex items-center mb-[16px]"
                    >
                      <span class="w-[25px] flex basis-auto grow-0 shrink-0">
                        <i-tabler
                          name="brand-whatsapp"
                          class="text-tree-400"
                          style="height: 24px; width: 24px; stroke-width: 1"
                        ></i-tabler>
                      </span>
                      <a
                        routerLink="/ailto:exampleemail.com"
                        class="transition-all duration-300 ease-in-out text-sm leading-5 p-0 text-river-400 mb-0 inline-block relative break-all tracking-0 font-normal hover:text-tree-400 hover:opacity-100"
                        >exampleemail.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="">
              <div class="">
                <div class=" ">
                  <ul class="align-itegi-center flex flex-wrap">
                    <li class="pr-[5px]">
                      <a
                        routerLink="/"
                        class="h-[30px] w-[30px] bg-river-700 rounded capitalize flex items-center justify-center"
                      >
                        <i-tabler
                          name="brand-instagram"
                          style="height: 24px; width: 24px; stroke-width: 1"
                          class="text-white"
                        ></i-tabler>
                      </a>
                    </li>
                    <li class="pr-[5px]">
                      <a
                        routerLink="/"
                        class="h-[30px] w-[30px] bg-river-700 rounded capitalize flex items-center justify-center"
                      >
                        <i-tabler
                          name="brand-facebook"
                          style="height: 24px; width: 24px; stroke-width: 1"
                          class="text-white"
                        ></i-tabler>
                      </a>
                    </li>
                    <li class="pr-[5px]">
                      <a
                        routerLink="/"
                        class="h-[30px] w-[30px] bg-river-700 rounded capitalize flex items-center justify-center"
                      >
                        <i-tabler
                          name="brand-twitter"
                          style="height: 24px; width: 24px; stroke-width: 1"
                          class="text-white"
                        ></i-tabler>
                      </a>
                    </li>
                    <li class="pr-[5px]">
                      <a
                        routerLink="/"
                        class="h-[30px] w-[30px] bg-river-700 rounded capitalize flex items-center justify-center"
                      >
                        <i-tabler
                          name="brand-linkedin"
                          style="height: 24px; width: 24px; stroke-width: 1"
                          class="text-white"
                        ></i-tabler>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-gray-200 sm:mx-auto dark:border-gray-700" />
    <div class="text-center py-4">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023
        <a href="https://topntech.com" class="hover:underline"
          >TopNTech Solutions</a
        >. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
